<div class='nav-sidebar-wrapper'>
    <!--<h3 class="">
        <a href="/">挖坑自動機</a>
    </h3>-->
    <div class="grow-1"></div>
    <div class="grow-1"></div>
    <h4 class="">
        <a href="/">Hole digging automaton</a>
    </h4>

    <ul class="site-nav pure-menu-list">
        <!--<li class="hide-mobile"><a href="/" class="">/</a></li>-->
        <!--<li class=" hide-pc"><a href="/" class="">root</a></li>-->
        <li class=""><a href="/post/" class="">/post</a></li>
        <li class=""><a href="/site/" class="">/site</a></li>
        <li class=""><a href="/about/" class="">/about</a></li>
    </ul>

    <hr class="hide-pc">

    <div class="hide-mobile external-links">
        {% include links.html %}
    </div>

</div>
