---
layout: default
comments: true
---
<main class="post-content" aria-label="Content">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
        <a class="permlink" href="{{ page.url | absolute_url }}">permlink</a>
      </p>
    </header>

    <hr>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    <hr>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}

    <hr>

    <div id="gitment-comments"></div>
    <script async>
        (function(gitment_options) {
            let tried = 0;
            const check_delay = 2e2;

            function initGitment() {
                if (tried++ > 50) {
                    return console.error('Timeout when waiting for Gitment to load');
                } else if (typeof Gitment !== "function") {
                    return setTimeout(initGitment, check_delay);
                }

                new Gitment(gitment_options).render('gitment-comments');
            }

            initGitment();

        })({
            owner: 'jokester',
            repo: 'jokester.github.io',
            oauth: {
                client_id: '72024c7faef2a833c03d',
                client_secret: '73a3b1ba36204ec80952bd9050ced847a25a4ed3',
            },
            // ...
        });
    </script>
    <hr>
  </article>
</main>
